@model Web.MVC.Models.SampleCreateModel

@{
    ViewBag.Title = "Create Sample";
}

@using (Html.BeginForm())
{    
    <fieldset class="form-group-sm">
        @Html.LabelFor(m => m.StatusId)
        @Html.DropDownListFor(m => m.StatusId, ViewBag.StatusList as SelectList, "Select Status", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StatusId)
    </fieldset>
    <fieldset class="form-group-sm">
        @Html.LabelFor(m => m.UserId)
        @Html.DropDownListFor(m => m.UserId, ViewBag.UsersList as SelectList, "Select User", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserId)
    </fieldset>
    <fieldset class="form-group-sm">
        @Html.LabelFor(m => m.Barcode)
        @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Barcode)
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
}